docs_dir: docs
site_name: Robotický tábor 2023
site_url: https://2023.robotickytabor.cz/
site_description: >-
  Robotický tábor 2023

repo_name: RoboticsBrno/RoboCamp-2023
repo_url: https://github.com/RoboticsBrno/RoboCamp-2023
# edit_uri: blob/main/docs/

# Copyright
copyright: Copyright © 2023 RoboticsBrno
use_directory_urls: True

theme:
  name: material
  language: cs
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - content.code.copy
    - content.code.annotate
  custom_dir: overrides

  icon:
    repo: fontawesome/brands/github

  palette:
    - scheme: slate
      primary: brown
      accent: brown
      toggle:
        icon: material/weather-sunny
        name: Přepnout na světý režim
    - scheme: default
      primary: brown
      accent: brown
      toggle:
        icon: material/weather-night
        name: Přepnout na tmavý režim

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
  - admonition
  - pymdownx.details
  - pymdownx.keys
  - attr_list
  - pymdownx.tabbed
  - meta
  - pymdownx.snippets:
      url_download: True
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: "¤"
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - search
  - open-in-new-tab
  - glightbox:
      auto_caption: true
  - resize-images:
      source-dir: assets-large
      target-dir: assets
      enable_cache: True
      size: [1000, 800]
      extensions: [".jpg", ".jpeg", ".png", ".gif"]
  - typedoc:
      source: './docs/elks/lekce1/example1/@types/*.d.ts'
      output_dir: 'jaculusApi'
      tsconfig: './docs/elks/lekce1/example1/tsconfig.json'
  #     options: 'typedoc.json'
      name: 'Jaculus API documentation'

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/RoboticsBrno
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/RobotikaBrno
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/robotarna
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@robotikabrno-robotarnaasps2392
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/_robotarna_
#   analytics:
#     provider: google
#     property: ASD

extra_css:
  - assets/style.css

nav:
  - Domů:
      - index.md
  - ELKS:
      - elks/index.md
      - elks/faq/index.md
      - elks/lekce1/index.md
      - elks/lekce2/index.md
      - elks/lekce3/index.md
      - elks/lekce4/index.md
      - elks/lekce5/index.md
      - elks/lekce6/index.md
      - "Jaculus API": /jaculusApi
  - Hrací kostka:
      - electronicDie/README.md
      - electronicDie/manual.md
  - Pájecí výzva:
      - solderingChallenge/README.md
      - solderingChallenge/manual.md
  - Electron:
      - electron/README.md
      - electron/electron-lesson-1.md
      - electron/electron-lesson-2.md
      - electron/electron-lesson-3.md
  - Náš tým:
      - team/index.md
